//Root

.root {
    max-width: 30%;
}

//Card

.card {
    margin-bottom: 20px;
    &:hover {
        .title, .description {
            color: #9e1c1c;
        }
    }
    .media {
        height: 140px;
    }
    .content {
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-size: 14px;
            font-weight: bold;
        }

        .date, .description  {
            font-size: 10px;
        }
    }
}